.home {
  padding: 24px;
}

.home header {
  margin-top: 60px;
  margin-bottom: 24px;
}

.home header h3 {
  color: #003d5b;
  font-weight: 700;
  font-size: 56px;
}

.home header p {
  font-size: 16px;
  line-height: 1.5;
}

.home header p:nth-child(1) {
  color: #007380;
  font-weight: 500;
  text-transform: uppercase;
}
